
body {
    background-color: #b91450;
}

/* Generator Ticket */
.generator-ticket, .generator-ticket-result {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}


.generator-ticket-row {
    padding: 10px 20px;
    text-align: center;
}

label {
    display: block;
}
/* End Generator Ticket */

h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
}

/* Generator Result */
.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

.generator-ticket-result {
    padding: 20px;
}

.nome-passeggero {
    background-color: gray;
    padding: 20px;
}

.bordo {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

[class*="bp-"] {
    padding: 20px;
}
/* End Generator Result */